*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 2100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
header{
    border: 1px solid rgb(199, 199, 199);
}
.headertop{
    background-color: rgb(182, 176, 176);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.headertop .container{
    display : flex;
    flex-direction : row;
    justify-content : center;
    align-items : center;
}
.headersecond{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.headersecond .container{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
}
.logo{
    display : flex;
    flex-direction : row;
    align-items : center;
    font-size: 1.5rem;
}
.logo img{
    width: 2rem;
}
.headersecondright{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.headersecond a{
    text-decoration: none;
    color: gray;
}
#menubuttion{
    background-color: transparent;
    border: none;
    color: rgb(36, 122, 36);
}
.languagesection{
    display: none;
}


@media screen and (min-width: 768px) {
    .headertop .container{
        justify-content: space-between;
    }
    .languagesection {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;
    }


    .languagesection img{
        width: 1rem;
    }
  }


@media screen and (min-width: 992px) {
    #menubuttion {
        display: none;
    }
  }